/* register.css */
body {
    font-family: Arial, sans-serif;
    background-color: #15202b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.register-container {
    background-color: #252f3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px;
}

.register-container h1 {
    text-align: center;
    color: #1da1f2;
    margin-bottom: 10px;
}

.register-container h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"],
.register-container input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 16px;
    background-color: #252f3a;
    color: #ffffff;
    width: 94%;
}

.register-container button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #1da1f2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.register-container p,
.register-container a {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

.register-container a:hover {
    text-decoration: underline;
}

.register-container .profilePicContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.register-container .profilePicContainer label {
    color: #ffffff;
    margin-bottom: 5px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    width: 94%;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

#imagePreview {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .register-container {
        width: 90%;
    }
}
